*{
margin: 0;
}
body{
background-image: url(../imagens/azul.png);
background-size: 100vw;
text-align: center;
font-family: century gothic;
color: #FFF;
}
h1{
margin-top: 7.5vh;
margin-bottom: 2.5vh;
}
.texto{
padding: 2.5vh 5vh;
text-align: center;
border-radius: 5px;
border: 1px solid black;
font-family: century gothic;
margin-bottom: 1vh;
}
#img{
padding: 2.5vh 5vh;
font-family: century gothic;
}
.botao{
padding: 2vh 1.5vw;
margin-left: 0.3vw;
margin-right: 0.3vw;
background-color: #5DADE2;
border-radius: 5px;
border: 0px solid #0000;
transition: 0.3s;
color: #FFF;
}
.botao:hover{
background-color: #2E86C1;
}
#voltar{
padding: 1vh 1vw;
margin-left: 0.3vw;
margin-right: 0.3vw;
background-color: #5DADE2;
border-radius: 5px;
border: 0px solid #0000;
transition: 0.3s;
color: #FFF;
text-decoration: none;
}
#voltar:hover{
background-color: #2E86C1;
}
