body{
		background-color:black;
}

.caixa  {
	position: relative;
    width: 100%;
    height: 100px;
    background-color:#FF0000;
}

.titulo {
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color:white;
	font-size:30px;
    font-family: times new roman;	
}

.palavras  {
	 font-size: 35px; 
	 font-family: times new roman;
     color:white;	 


}

a:hover {
color:white ;
letter-spacing:5px;
font-size: 30px;
}
	

	